.web{
    display: flex;
    flex: 1;
    align-items: center;
}

.web-option{
    font-size: 24px;
    margin-right: 20px;
    font-weight: 700;
}

.web-option a{
    text-decoration: none;
    color: gray;
    display: flex;
    align-items: center;
}

.web-option a:hover{
    color: #ffc727;
}

.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}

